<div class="file-upload">
  <div class="file-uploaad__header">Demo Screen</div>
  <div class="file-upload__message"> This is a demo screen for testing purpose.</div>
  <div class="file-upload__body">
    Content comes here
  </div>
</div>
<div class="user__buttons">
  <button class="user__btn user__btn--back" type="button" (click)="onBack()">{{ 'documents.action_back' | translate }}
  </button>
  <span class="spacer"></span>
  <button class="user__btn" type="button" (click)="onNext()">
    {{ 'documents.action_continue' | translate }}
  </button>
</div>

