<!--
<p>Refer <a href="https://www.mosip.io/contact.php" target="_blank">https://www.mosip.io/contact.php</a></p>
-->
<div style="display: flex; flex-direction: column">
    <div>
    <div style="display: flex;flex-direction: row; justify-content: space-around">
        <div>
            <section class="ftco-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="wrapper">
                                <div class="row no-gutters mb-5">
                                    <div class="col-md-12">
                                        <div class="contact-wrap w-100 p-md-5 p-4">
                                            <h3 class="mb-4">Contact Us</h3>
                                            <form  id="contactForm" class="contactForm">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="label" for="name">Full Name</label>
                                                            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="label" for="email">Email Address</label>
                                                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="label" for="subject">Subject</label>
                                                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="label" for="message">Message</label>
                                                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <input type="submit" value="Send Message" class="btn btn-primary">
                                                            <div class="submitting"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div style="width: 100%; height: 100%">
            <div class="col-lg-12 right-image p-r-0" style="margin-top: 17%">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.9829255171244!2d79.88207431344286!3d6.892645320677234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25a2f3f59824b%3A0x72ad2080bd2a4b3f!2sInformation%20and%20Communication%20Technology%20Agency%20of%20Sri%20Lanka!5e0!3m2!1sen!2sin!4v1613709147480!5m2!1sen!2sin"
                        width="600" height="400" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                     </div>
            <div style="display: flex; flex-direction: column;">
                <div style="display: flex; flex-direction: row;  padding-top: 15px; padding-left: 15px;">
                    <div><img src="assets\img\location.png" style="height: 25px; margin-top: 10%"></div> <div style="padding-left: 20px">160/24,<br> Kirimandala Mawatha, Colombo 05.<br> Sri Lanka.</div>
                </div>
                <div style="display: flex; flex-direction: row;  padding-top: 15px; padding-left: 15px;">
                    <div><img src="assets\img\phone.png" style="height: 25px"></div> <div style="padding-left: 20px">
                    Tel:+94-11-236 9099<br>
                    Fax:+94-11-236 9091</div>
                </div>
            </div>
        </div>

    </div>
    </div>
</div>
